/*--|All|--*/
@font-face{
font-family:'roboto';
src:url('font/Roboto-Regular.ttf')format('truetype');
}
*{
/*font*/
font-family:'roboto';
font-size:1.25vw;
color:#FFFFFF;
/*display*/
margin:0;
padding:0;
}
/*--|All|--*/

/*--|Header|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
height:5vw;
top:0;
left:0;
right:0;
justify-content:space-between;
align-items:center;
z-index:100;
}
#lg{
/*display*/
display:flex;
width:4.5vw;
height:4.5vw;
margin:0 2vw;
justify-content:center;
align-items:center;
background:rgba(240, 240, 240, 0.5);
/*border*/
border-radius:5vw;
}
.lg{
/*display*/
position:relative;
display:flex;
width:3.5vw;
left:0.1vw;
/*cursor*/
cursor:pointer;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:30%;
height:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nv{
/*font*/
font-size:1vw;
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nv:hover{
/*font*/
color:#D0E2F4;
}
.im{
/*display*/
width:2vw;
}
#divhd{
display:none;
}
#mnm{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
.nvls{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#hd{
/*display*/
height:15vw;
}
.lg{
/*display*/
width:10vw;
}
#ls{
/*display*/
display:none;
}
#divhd{
display:flex;
}
#mnm{
/*font*/
color:#FFFFFF;
/*display*/
display:flex;
width:12vw;
}
#lsm{
/*font*/
list-style-type:none;
/*display*/
position:absolute;
display:none;
width:60%;
height:80vw;
top:-6vw;
right:-3vw;
padding:2vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#0B2F4F;
/*border*/
border-radius:5vw;
}
.divclose{
/*display*/
display:flex;
width:90%;
justify-content:flex-end;
align-items:flex-start;
}
#lsm li{
/*display*/
display:flex;
width:70%;
justify-content:flex-start;
align-items:center;
}
.nvls{
/*font*/
font-size:6vw;
text-align:left;
text-decoration:none;
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
padding:0;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}
}
/*--|Header|--*/

/*--|Footer|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:5vw;
bottom:revert;
flex-direction:column;
justify-content:center;
align-items:center;
background:#474998;
}
.dvft{
/*display*/
display:flex;
width:30%;
margin:1vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lk1{
/*font*/
text-decoration:none;
}
.tx8:hover{
/*font*/
color:#D0E2F4;
/*cursor*/
cursor:pointer;
}
@media screen and (max-width: 768px){
#ft{
/*display*/
height:58vw;
}
.txftm{
/*font*/
font-size:6vw;
text-align:center;
}
.dvft{
/*display*/
display:flex;
width:100%;
margin:1vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lk1{
/*display*/
display:flex;
width:40%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.tx8{
/*font*/
font-size:6vw;
text-align:center;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.imft{
/*display*/
width:10vw;
}
}
/*--|Footer|--*/

/*--|Main|--*/
#sec1{
/*display*/
position:relative;
display:flex;
width:100%;
height:50vw;
margin:0;
padding:0;
flex-direction:row;
justify-content:center;
align-items:center;
background-image:url('images/hero.jpg');
background-size:cover;
background-position:center;
}
#sec1::before{
content:'';
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(0,0,0,0.2)
}
.dv{
/*display*/
display:flex;
width:90%;
height:45vw;
flex-direction:column;
justify-content:center;
align-items:flex-start;
}
.tt{
/*font*/
font-size:4vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw rgba(255,255,255,1);
color:#3A3C93;
/*display*/
display:flex;
width:100%;
margin-right:5vw;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.tt0{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw rgba(0,0,0,1);
color:#D0E2F4;
/*display*/
display:flex;
width:100%;
margin-right:5vw;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.bt{
/*font*/
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
width:12vw;
height:3vw;
margin:2vw 0;
justify-content:center;
align-items:center;
background:#474998;
z-index:1;
/*border*/
border-radius:50vw;
}
.bt:hover{
/*font*/
color:#474998;
/*display*/
background:#FFFFFF;
}
#sec2{
/*display*/
display:flex;
width:100%;
height:50vw;
justify-content:space-around;
align-items:center;
background:#474998;
}
.dv1{
/*display*/
display:flex;
width:50%;
height:70%;
padding:0 5vw;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:flex-start;
}
.tt1{
/*font*/
font-size:2vw;
font-weight:700;
/*display*/
display:flex;
width:100%;
justify-content:flex-start;
align-items:center;
}
.tx{
/*font*/
text-align:justify;
hyphens:auto;
/*display*/
display:flex;
width:90%;
margin:1vw 0;
justify-content:flex-start;
align-items:center;
}
.dv2{
/*display*/
display:flex;
width:100%;
padding:0;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.im1{
/*display*/
width:90%;
/*border*/
border-radius:2VW;
}
#sec3{
/*display*/
position:relative;
display:flex;
width:100%;
height:45vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#D0E2F4;
}
#sec3::before{
content:'';
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(0,0,0,0.2)
}
.tt2{
/*font*/
font-size:2vw;
font-weight:700;
text-align:center;
text-shadow:0.1vw 0.1vw 0.2vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.dv3{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.dv4{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im2{
/*display*/
display:flex;
width:25vw;
height:auto;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
.tt4{
/*font*/
font-size:1.75vw;
font-weight:700;
text-align:center;
text-shadow:0.1vw 0.1vw 0.1vw #0B2F4F;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.tx2{
/*font*/
font-weight:700;
text-align:center;
text-shadow:0.1vw 0.1vw 0.1vw #0B2F4F;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
#sec4{
/*display*/
display:flex;
width:100%;
height:45vw;
justify-content:space-around;
align-items:center;
background:#474998;
}
.dv5{
/*display*/
display:flex;
width:40%;
height:70%;
flex-direction:column;
justify-content:space-around;
align-items:center;
}
.dv6{
/*display*/
display:flex;
width:80%;
height:100%;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}
.tt5{
/*font*/
font-size:2vw;
font-weight:700;
text-align:left;
/*display*/
display:flex;
width:100%;
padding:0 0 5vw 0;
justify-content:left;
align-items:center;
z-index:1;
}
.tx3{
/*font*/
hyphens:auto;
/*display*/
width:100%;
}
.dv7{
/*display*/
display:flex;
width:80%;
height:100%;
flex-direction:column;
justify-content:flex-end;
align-items:flex-start;
}
.tt6{
/*font*/
font-size:2vw;
font-weight:700;
text-align:center;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.dv8{
/*display*/
display:flex;
width:60%;
justify-content:space-evenly;
align-items:flex-start;
}
.im3{
/*display*/
width:1.5vw;
margin:3vw 0 0 0;
padding:1vw;
background:#D0E2F4;
/*border*/
border-radius:5vw;
}
.im3:hover{
/*display*/
background:#F0F0F0;
/*cursor*/
cursor:pointer;
}
.dv9{
/*display*/
display:flex;
width:50%;
justify-content:center;
align-items:center;
}
.im5{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
#sec5{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#D0E2F4;
}
.tt7{
/*font*/
font-size:2vw;
font-weight:700;
text-shadow:0.1vw 0.1vw 0.1vw #474998;
/*display*/
display:flex;
margin:10vw 0 0 0;
justify-content:center;
align-items:center;
}
.im6{
/*display*/
display:flex;
width:5vw;
justify-content:center;
align-items:center;
}
.dv10{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.im7{
/*display*/
display:flex;
width:40vw;
margin:5vw;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
.tx4{
/*font*/
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw #474998;
/*display*/
display:flex;
width:40vw;
margin:5vw;
justify-content:center;
align-items:center;
}
#sec6{
/*display*/
display:flex;
width:100%;
height:150vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#474998;
}
.tt8{
/*font*/
font-size:2vw;
font-weight:700;
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.dv11{
/*display*/
display:flex;
height:80%;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
}
.dv12{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.dv13{
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.im8{
/*display*/
display:flex;
width:30vw; 
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
@media screen and (max-width: 768px){
.dv8{
/*display*/
display:flex;
width:100%;
margin:10vw 0 0 0;
justify-content:space-evenly;
align-items:center;
}
}