/*--|All|--*/
@font-face{
font-family:'roboto';
src:url('font/Roboto-Regular.ttf')format('truetype');
}
@font-face{
  font-family:'garet';
  src:url('font/Garet.ttf')format('truetype');
  }
*{
/*font*/
font-family:'roboto';
font-size:1.25vw;
color:#F0F0F0;
/*display*/
margin:0;
padding:0;
}
/*--|All|--*/

/*--|Header|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
height:8vw;
top:0;
left:0;
right:0;
justify-content:space-between;
align-items:center;
z-index:100;
}
#lg1 {
  /* display */
  position: relative;
  display: flex;
  width: 10vw;
  height: 10vw;
  top: -1vw;
  left: -1vw;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
}
.lg{
/*display*/
position:relative;
display:flex;
width:5.5vw;
left:0.1vw;
/*cursor*/
cursor:pointer;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:40%;
height:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nv{
/*font*/
font-size:1.25vw;
font-weight:900;
text-decoration:none;
text-shadow:0 0 0.1vw #0D0D0D;
color:#0fb8ce;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nv:hover{
/*font*/
text-shadow:0 0 0.5vw #D0E2F4;
}
.im{
/*display*/
width:2vw;
}
#divhd{
display:none;
}
#mnm{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
.nvls{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#hd{
/*display*/
height:15vw;
justify-content: space-between;
}
#lg1 {
  /* display */
  position: relative;
  display: flex;
  width: 10vw;
  height: 10vw;
  top: 0vw;
  left: 5vw;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
}
.lg{
/*display*/
width:15vw;
}
#ls{
/*display*/
display:none;
}
#divhd{
display:flex;
}
#mnm{
/*font*/
color:#F0F0F0;
/*display*/
display:flex;
width:12vw;
}
#lsm{
/*font*/
list-style-type:none;
/*display*/
position:absolute;
display:none;
width:48%;
height:80vw;
top:-6vw;
right:-3vw;
padding:2vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#474998;
/*border*/
border-radius:5vw;
}
.divclose{
/*display*/
display:flex;
width:90%;
justify-content:flex-end;
align-items:flex-start;
}
#lsm li{
/*display*/
display:flex;
width:70%;
justify-content:flex-start;
align-items:center;
}
.nvls{
/*font*/
font-size:6vw;
text-align:left;
text-decoration:none;
color:#F0F0F0;
/*display*/
display:flex;
width:100%;
padding:0;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}
}
/*--|Header|--*/

/*--|Footer|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:5vw;
padding:0.5vw 0;
bottom:revert;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0a2233;
}
.dvft{
/*display*/
display:flex;
width:30%;
margin:1vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lk1{
/*font*/
text-decoration:none;
}
.tx8:hover{
/*font*/
color:#D0E2F4;
/*cursor*/
cursor:pointer;
}
.unilatem{
  text-decoration: none;
}
.unilatem:hover{
  color:#8906E6;
  text-shadow:0 0 1vw #F0F0F0;
}
.bfsaude{
  text-decoration: none;
}
.bfsaude:hover{
  color:#D0E2F4;
  text-shadow:0 0 1vw #F0F0F0;
}
@media screen and (max-width: 768px){
#ft{
/*display*/
height:58vw;
}
.txftm{
/*font*/
font-size:6vw;
text-align:center;
}
.dvft{
/*display*/
display:flex;
width:100%;
margin:1vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lk1{
/*display*/
display:flex;
width:40%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.tx8{
/*font*/
font-size:6vw;
text-align:center;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.imft{
/*display*/
width:10vw;
}
.unilatem{
  font-size:6vw;
}
.bfsaude{
  font-size:6vw;
}
}
/*--|Footer|--*/

/*--|Main|--*/
#sc1{
/*display*/
position:relative;
display:flex;
width:100%;
height:48vw;
padding:0;
flex-direction:column;
justify-content:center;
align-items:center;
background: #0a2233;
}
.dv0{
display:flex;
width:100%;
height:15vw;
justify-content:start;
align-items:end;
background:#0c2b40;
overflow: hidden;
}
.tt{
font-size:2.5vw;
font-weight:900;
text-shadow:0 0 0.2vw #0D0D0D;
color:#0fb8ce;
padding:0 0 0 5vw;
}
.hexdv{
display:flex;
width:50%;
height:100%;
justify-content: flex-end;
align-items:center;
}
.hexim{
opacity:0.1;
}
.tt0{
font-size:2.5vw;
font-weight:900;
text-shadow:0 0 0.2vw #0D0D0D;
color:#FFFFFF;
position:absolute;
top:15vw;;
left:5vw;
z-index:1;
}
.hero{
width:100%;
height:35vw;
background-image: url('images/saude.png');
background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
background-position: center; /* Centraliza a imagem no elemento */
background-repeat: no-repeat; /* Evita que a imagem se repita */
}
.hero::before {
content: ''; /* Necessário para exibir o pseudo-elemento */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2); /* Cor da sobreposição com transparência */
z-index: 1; /* Coloca a sobreposição acima da imagem de fundo */
}
@media screen and (max-width:768px){
  #sc1{
    height:200vw;
  }
  .dv0{
    display:flex;
    width:100%;
    height: 80vw;
    justify-content:start;
    align-items:end;
    background:#0c2b40;
    overflow: hidden;
  }
  .tt{
    font-size:6.5vw;
    font-weight:900;
    text-shadow:0 0 0.2vw #0D0D0D;
    color:#0fb8ce;
    padding:0 0 0 5vw;
    }
    .hexdv{
    display:flex;
    width:50%;
    height:100%;
    justify-content: flex-end;
    align-items:center;
    }
    .hexim{
    opacity:0.1;
    }
    .tt0{
    font-size:6.5vw;
    font-weight:900;
    text-shadow:0 0 0.2vw #0D0D0D;
    color:#FFFFFF;
    position:absolute;
    top:80vw;;
    left:5vw;
    z-index:1;
    }
    .hero{
    width:100%;
    height:120vw;
    background-image: url('images/saude.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    }
    .hero::before {
    content: ''; /* Necessário para exibir o pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Cor da sobreposição com transparência */
    z-index: 1; /* Coloca a sobreposição acima da imagem de fundo */
    }
}


#sobre{
/*display*/
display:flex;
width:100%;
height:60vw;
justify-content:space-around;
align-items:center;
background:#0a2233;
overflow: hidden;
}
#sobre::before {
content: ''; /* Necessário para exibir o pseudo-elemento */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: auto;
background: rgba(0, 0, 0, 0.5); /* Cor da sobreposição com transparência */
z-index: 1; /* Coloca a sobreposição acima da imagem de fundo */
}
.hexim0{
position: absolute;
top: 42vw;
left: -10vw;
opacity: 0.2;
}
.dv1{
/*display*/
display:flex;
width:60%;
height:70%;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:flex-start;
}
.tt1{
/*font*/
font-family:'garet';
font-size:3vw;
font-weight:300;
color:#0fb8ce;
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.tx{
/*font*/
font-family:'garet';
text-align:justify;
hyphens:auto;
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
margin:1vw 0;
justify-content:flex-start;
align-items:center;
}
.dv2{
/*display*/
display:flex;
width:50%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.im1{
/*display*/
width:90%;
/*border*/
border-radius:2VW;
}

@media screen and (max-width:768px){
  #sobre{
  /*display*/
  height:320vw;
  flex-direction: column;
  }
  .hexim0{
    position: absolute;
    width:80vw;
    top: 185vw;
    left: -10vw;
    opacity: 0.2;
  }
  .dv1{
  /*display*/
  width:80%;
  }
  .tt1{
  /*font*/
  font-size:7vw;
  }
  .tx{
  /*font*/
  font-size:4vw;
  }
  .dv2{
  /*display*/
  width:80%;
  }
  .im1{
  /*display*/
  width:80vw;
  }
}
#servicos{
/*display*/
display:flex;
width:100%;
height:50vw;
flex-direction: column;
justify-content:space-around;
align-items:center;
background:#0a2233;
overflow: hidden;
}
#servicos::before {
content: ''; /* Necessário para exibir o pseudo-elemento */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: auto;
background: rgba(0, 0, 0, 0.5); /* Cor da sobreposição com transparência */
z-index: 1; /* Coloca a sobreposição acima da imagem de fundo */
}
.dvsec3{
display:flex;
height:50vw;
flex-direction: column;
justify-content: space-evenly;
align-items:center;
z-index:1;
}
.dv1sec3{
display:flex;
width:90%;
flex-direction: row;
justify-content: space-evenly;
align-items:center;
}
.dv2sec3{
display:flex;
width:30%;
height:35vw;
flex-direction: column;
justify-content: space-evenly;
align-items:center;
}
.imsec3{
width:20vw;
height:15vw;
box-shadow:0 0 1vw #0D0D0D;
border-radius:2vw;
}
.ttsec3{
font-family:'garet';
font-weight: 300;
color:#0fb8ce;
}
.txsec3{
font-family:'garet';
font-weight: 300;
text-align:center;
color:#FFFFFF;
width:70%;
}
.hexim1{
position: absolute;
top: 140vw;
right: -1vw;
opacity: 0.1;
transform: rotate(90deg);
}

@media screen and (max-width:768px){
  #servicos{
    /*display*/
    display:flex;
    width:100%;
    height:250vw;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background:#0a2233;
    overflow: hidden;
  }
  #servicos::before {
  content: ''; /* Necessário para exibir o pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5); /* Cor da sobreposição com transparência */
  z-index: 1; /* Coloca a sobreposição acima da imagem de fundo */
  }
  .dvsec3{
  display:flex;
  height:100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  z-index:1;
  }
  .dv1sec3{
  display:flex;
  width:90%;
  height:100%;
  padding:0 0 30vw 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  }
  .dv2sec3{
  display:flex;
  width:95%;
  height:35vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  }
  .imsec3{
  width:60vw;
  height:55vw;
  box-shadow:0 0 1vw #0D0D0D;
  border-radius:2vw;
  }
  .ttsec3{
  font-family:'garet';
  font-size:5vw;
  font-weight: 300;
  color:#0fb8ce;
  }
  .txsec3{
  font-family:'garet';
  font-size:4vw;
  font-weight: 300;
  text-align:center;
  color:#FFFFFF;
  width:70%;
  }
  .hexim1{
  position: absolute;
  width:80vw;
  top: 700vw;
  right: -1vw;
  opacity: 0.1;
  transform: rotate(90deg);
  }
}

#planos{
/*display*/
position:relative;
display:flex;
width:100%;
height:50vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#253947;
}
.tt2{
/*font*/
font-family:'garet';
font-size:3vw;
font-weight:300;
text-align:center;
color:#0fb8ce;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.dv3{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.dv4{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im2{
/*display*/
display:flex;
width:25vw;
height:auto;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
.tt4{
/*font*/
font-size:1.75vw;
font-weight:700;
text-align:center;
color:#FFFFFF;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.tx2{
/*font*/
font-weight:700;
text-align:center;
color:#FFFFFF;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.bt2{
/*font*/
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
width:12vw;
height:3vw;
justify-content:center;
align-items:center;
background:#474998;
z-index:1;
/*border*/
border-radius:50vw;
}
.bt2:hover{
/*font*/
color:#474998;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #474998;
}

@media screen and (max-width:768px){
#planos{
/*display*/
height:200vw;
padding:10vw 0;
}
.tt2{
/*font*/
font-size:7vw;
}
.dv3{
/*display*/
flex-direction:column;
height:100%;
}
.im2{
/*display*/
width:70vw;
}
.tt4{
/*font*/
font-size:5vw;
}
.tx2{
/*font*/
font-size:4vw;
}
.bt2{
/*font*/
font-size: 4vw;
/*display*/
width:35vw;
height:10vw;
top:40vw;
left:20vw;
margin:5vw 0 0 0;
}
}

#contato{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0a2233;
overflow:hidden;
}
.dv5{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.dv6{
/*display*/
display:flex;
width:50%;
height:80%;
padding: 0 8vw;
flex-direction:column;
justify-content:space-evenly;
align-items:flex-start;
}
.dv61{
display:flex;
height:10vw;
flex-direction:column;
justify-content:space-evenly;
margin-bottom:5vw;
}
.dv62{
display:flex;
flex-direction:column;
justify-content:space-evenly;
margin-bottom:3vw;
}
.tt5{
/*font*/
font-family:'garet';
font-size:4vw;
font-weight:500;
text-align:center;
color:#0fb8ce;
/*display*/
display:flex;
width:100%;
padding:0;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.tx3{
/*font*/
text-align:left;
hyphens:auto;
color:#F0F0F0;
/*display*/
width:100%;
}
.btcontato{
font-family:'garet';
text-decoration: none;
color:#0fb8ce;
padding:1vw 4vw;
border: 0.2vw solid #0fb8ce;
border-radius:5vw;
}
.tx31{
/*font*/
font-weight:900;
text-align:center;
text-decoration:none;
hyphens:auto;
color:#F0F0F0;
/*display*/
width:100%;
}
.tx31:hover{
/*font*/
text-shadow:0 0 0.5vw #D0E2F4;
/*display*/
width:100%;
}
.dv7{
/*display*/
display:flex;
width:40%;
height:100%;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}
.tt6{
/*font*/
font-family:'garet';
font-size:2vw;
font-weight:300;
text-align:left;
color:#0fb8ce;
/*display*/
display:flex;
margin-bottom:1vw;
justify-content:flex-start;
align-items:center;
}
.dv8{
/*display*/
display:flex;
width:100%;
justify-content:space-evenly;
align-items:flex-start;
}
.im3{
/*display*/
width:1.5vw;
padding:1vw;
background:#0fb8ce;
/*border*/
border-radius:5vw;
}
.im3:hover{
/*border*/
box-shadow:0 0 1vw #F0F0F0;
/*cursor*/
cursor:pointer;
}
.dv9{
/*display*/
display:flex;
width:50%;
justify-content:center;
align-items:center;
}
.im5{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
box-shadow:0 0 1vw #0D0D0D;
}
.imcontato{
  width:50vw;
}

@media screen and (max-width:768px){
  #contato{
  /*display*/
  display:flex;
  width:100%;
  height:320vw;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#0a2233;
  overflow:hidden;
  }
  .dv5{
  /*display*/
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  }
  .dv6{
  /*display*/
  display:flex;
  width:80%;
  height:100%;
  padding: 0 8vw;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:flex-start;
  }
  .dv61{
  display:flex;
  height:auto;
  flex-direction:column;
  justify-content:space-evenly;
  margin-bottom:5vw;
  }
  .dv62{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  margin-bottom:3vw;
  }
  .dv63{
    display:flex;
    height:40vw;
    flex-direction:column;
    justify-content:space-evenly;
    margin-bottom:3vw;
  }
  .tt5{
  /*font*/
  font-family:'garet';
  font-size:10vw;
  font-weight:500;
  text-align:center;
  color:#0fb8ce;
  /*display*/
  display:flex;
  width:100%;
  padding:0;
  justify-content:flex-start;
  align-items:center;
  z-index:1;
  }
  .tx3{
  /*font*/
  font-size:6vw;
  text-align:left;
  hyphens:auto;
  color:#F0F0F0;
  /*display*/
  width:100%;
  }
  .btcontato{
  font-family:'garet';
  font-size:6vw;
  text-decoration: none;
  color:#0fb8ce;
  padding:1vw 4vw;
  border: 0.2vw solid #0fb8ce;
  border-radius:5vw;
  }
  .tx31{
  /*font*/
  font-size:6vw;
  font-weight:900;
  text-align:center;
  text-decoration:none;
  hyphens:auto;
  color:#F0F0F0;
  /*display*/
  width:100%;
  }
  .tx31:hover{
  /*font*/
  text-shadow:0 0 0.5vw #D0E2F4;
  /*display*/
  width:100%;
  }
  .dv7{
  /*display*/
  display:flex;
  width:40%;
  height:100%;
  margin:20vw 0 0 0;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  }
  .tt6{
  /*font*/
  font-family:'garet';
  font-size:8vw;
  font-weight:300;
  text-align:left;
  color:#0fb8ce;
  /*display*/
  display:flex;
  margin-bottom:1vw;
  justify-content:flex-start;
  align-items:center;
  }
  .dv8{
  /*display*/
  display:flex;
  width:100%;
  justify-content:space-evenly;
  align-items:flex-start;
  }
  .im3{
  /*display*/
  width:10vw;
  padding:5vw;
  background:#0fb8ce;
  /*border*/
  border-radius:50%;
  }
  .im3:hover{
  /*border*/
  box-shadow:0 0 1vw #F0F0F0;
  /*cursor*/
  cursor:pointer;
  }
  .dv9{
  /*display*/
  display:flex;
  width:50%;
  justify-content:center;
  align-items:center;
  }
  .im5{
  /*display*/
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
  /*border*/
  border-radius:2vw;
  box-shadow:0 0 1vw #0D0D0D;
  }
  .imcontato{
    width:100vw;
  }
}

#sec5{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#F0F0F0;
}
.tt7{
/*font*/
font-size:4vw;
font-weight:700;
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
margin:10vw 0 0 0;
justify-content:center;
align-items:center;
}
.im6{
/*display*/
display:flex;
width:5vw;
margin:0 2vw;
justify-content:center;
align-items:center;
}
.dv10{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.im7{
/*display*/
display:flex;
width:40vw;
margin:5vw;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
.tx4{
/*font*/
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
width:40vw;
margin:5vw;
justify-content:center;
align-items:center;
}

@media screen and (max-width:768px){
  #sec5{
  /*display*/
  height:250vw;
  }
  .tt7{
  /*font*/
  font-size:7vw;
  }
  .im6{
  /*display*/
  width:10vw;
  }
  .dv10{
  /*display*/
  flex-direction:column;
  }
  .im7{
  /*display*/
  width: 70vw;
  }
  .tx4{
  /*font*/
  font-size:4vw;
  /*display*/
  width:90%;
  }
}

#sec6{
/*display*/
display:flex;
width:100%;
height:120vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#F0F0F0;
}
.tt8{
/*font*/
font-size:3vw;
font-weight:700;
color:#474998;
/*display*/
display:flex;
width:95%;
justify-content:center;
align-items:center;
z-index:1;
}
.dv11{
/*display*/
display:flex;
height:80%;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
z-index:1;
}
.dv12{
/*display*/
display:flex;
width:90%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.dv13{
/*display*/
display:flex;
width:45%;
height:35vw;
margin:0 5vw;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
}
.im8{
/*display*/
display:flex;
width:35vw;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
box-shadow:0 0 1vw #474998;
}
.tt9{
/*font*/
font-size:2vw;
font-weight:700;
text-align:center;
color:#474998;
/*display*/
display:flex;
width:35vw;
justify-content:center;
align-items:center;
}
.tx9{
/*font*/
text-align:justify;
color:#474998;
/*display*/
display:flex;
width:35vw;
justify-content:center;
align-items:center;
}
.lk2{
/*font*/
font-size:1.5vw;
font-weight:700;
text-decoration:none;
color:#F0F0F0;
/*display*/
display:flex;
width:20vw;
padding:1vw;
justify-content:center;
align-items:center;
background:#474998;
/*border*/
border-radius:2vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.lk2:hover{
/*font*/
color:#474998;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #474998;
/*cursor*/
cursor:pointer;
}

@media screen and (max-width: 768px){
  #sec6{
  /*display*/
  height:500vw;
  }
  .tt8{
  /*font*/
  font-size:7vw;
  }
  .dv11{
  /*display*/
  height:90%;
  }
  .dv12{
  /*display*/
  margin:5vw 0;
  flex-direction:column ;
  }
  .dv13{
  /*display*/
  width:90%;
  height:100%;
  }
  .im8{
  /*display*/
  width:80vw;
  }
  .tt9{
  /*font*/
  font-size:7vw;
  /*display*/
  width:80vw;
  }
  .tx9{
  /*font*/
  font-size:4vw;
  /*display*/
  width:80vw;
  }
  .lk2{
  /*font*/
  font-size:5vw;
  /*display*/
  width:60vw;
  margin:5vw 0;
  padding:3vw;
  /*border*/
  border-radius:10vw;
  }
}
@media screen and (max-width: 768px){
  .dv8{
  /*display*/
  display:flex;
  width:100%;
  margin:10vw 0 0 0;
  justify-content:space-evenly;
  align-items:center;
  }
}

/*Termos de Uso*/
#sectm{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0a2233;
}
.tttm{
/*font*/
font-size:4vw;
font-weight:700;
text-align:center;
color:#FFFFFF;
/*display*/
width:100%;
margin:5vw 0;
}
.imtm{
/*display*/
width:5vw;
}
.dvtm{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.txtm{
/*font*/
font-weight:700;
text-align:justify;
color:#FFFFFF;
/*display*/
width:90%;
}
/*Termos de Uso*/

/*Politica*/
#secpl{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0a2233;
}
.ttpl{
/*font*/
font-size:4vw;
font-weight:700;
text-align:center;
color:#FFFFFF;
/*display*/
width:100%;
margin:5vw 0;
}
.impl{
/*display*/
width:5vw;
}
.dvpl{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.txpl{
/*font*/
font-weight:700;
text-align:justify;
color:#FFFFFF;
/*display*/
width:90%;
}
/*Politica*/

.whatsfix{
/*display*/
position:fixed;
width:6vw;
bottom:1vw;
right:1vw;
z-index:2;
/*animation*/
animation: swing 2s ease-in-out infinite;
transform-origin: center;
/*cursor*/
cursor:pointer;
}

@media screen and (max-width:768px){
  .whatsfix{
  /*display*/
  width:20vw;
  bottom:2vw;
  right:2vw;
  z-index:2;
  }
}

@keyframes swing {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(5deg);
  }
  60% {
    transform: rotateZ(-5deg);
  }
  80% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

[data-aos][data-aos][data-aos-duration="50"],body[data-aos-duration="50"] [data-aos]{transition-duration:50ms}[data-aos][data-aos][data-aos-delay="50"],body[data-aos-delay="50"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate{transition-delay:50ms}[data-aos][data-aos][data-aos-duration="100"],body[data-aos-duration="100"] [data-aos]{transition-duration:.1s}[data-aos][data-aos][data-aos-delay="100"],body[data-aos-delay="100"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="100"].aos-animate,body[data-aos-delay="100"] [data-aos].aos-animate{transition-delay:.1s}[data-aos][data-aos][data-aos-duration="150"],body[data-aos-duration="150"] [data-aos]{transition-duration:.15s}[data-aos][data-aos][data-aos-delay="150"],body[data-aos-delay="150"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="150"].aos-animate,body[data-aos-delay="150"] [data-aos].aos-animate{transition-delay:.15s}[data-aos][data-aos][data-aos-duration="200"],body[data-aos-duration="200"] [data-aos]{transition-duration:.2s}[data-aos][data-aos][data-aos-delay="200"],body[data-aos-delay="200"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="200"].aos-animate,body[data-aos-delay="200"] [data-aos].aos-animate{transition-delay:.2s}[data-aos][data-aos][data-aos-duration="250"],body[data-aos-duration="250"] [data-aos]{transition-duration:.25s}[data-aos][data-aos][data-aos-delay="250"],body[data-aos-delay="250"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="250"].aos-animate,body[data-aos-delay="250"] [data-aos].aos-animate{transition-delay:.25s}[data-aos][data-aos][data-aos-duration="300"],body[data-aos-duration="300"] [data-aos]{transition-duration:.3s}[data-aos][data-aos][data-aos-delay="300"],body[data-aos-delay="300"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="300"].aos-animate,body[data-aos-delay="300"] [data-aos].aos-animate{transition-delay:.3s}[data-aos][data-aos][data-aos-duration="350"],body[data-aos-duration="350"] [data-aos]{transition-duration:.35s}[data-aos][data-aos][data-aos-delay="350"],body[data-aos-delay="350"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="350"].aos-animate,body[data-aos-delay="350"] [data-aos].aos-animate{transition-delay:.35s}[data-aos][data-aos][data-aos-duration="400"],body[data-aos-duration="400"] [data-aos]{transition-duration:.4s}[data-aos][data-aos][data-aos-delay="400"],body[data-aos-delay="400"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="400"].aos-animate,body[data-aos-delay="400"] [data-aos].aos-animate{transition-delay:.4s}[data-aos][data-aos][data-aos-duration="450"],body[data-aos-duration="450"] [data-aos]{transition-duration:.45s}[data-aos][data-aos][data-aos-delay="450"],body[data-aos-delay="450"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="450"].aos-animate,body[data-aos-delay="450"] [data-aos].aos-animate{transition-delay:.45s}[data-aos][data-aos][data-aos-duration="500"],body[data-aos-duration="500"] [data-aos]{transition-duration:.5s}[data-aos][data-aos][data-aos-delay="500"],body[data-aos-delay="500"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="500"].aos-animate,body[data-aos-delay="500"] [data-aos].aos-animate{transition-delay:.5s}[data-aos][data-aos][data-aos-duration="550"],body[data-aos-duration="550"] [data-aos]{transition-duration:.55s}[data-aos][data-aos][data-aos-delay="550"],body[data-aos-delay="550"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="550"].aos-animate,body[data-aos-delay="550"] [data-aos].aos-animate{transition-delay:.55s}[data-aos][data-aos][data-aos-duration="600"],body[data-aos-duration="600"] [data-aos]{transition-duration:.6s}[data-aos][data-aos][data-aos-delay="600"],body[data-aos-delay="600"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="600"].aos-animate,body[data-aos-delay="600"] [data-aos].aos-animate{transition-delay:.6s}[data-aos][data-aos][data-aos-duration="650"],body[data-aos-duration="650"] [data-aos]{transition-duration:.65s}[data-aos][data-aos][data-aos-delay="650"],body[data-aos-delay="650"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="650"].aos-animate,body[data-aos-delay="650"] [data-aos].aos-animate{transition-delay:.65s}[data-aos][data-aos][data-aos-duration="700"],body[data-aos-duration="700"] [data-aos]{transition-duration:.7s}[data-aos][data-aos][data-aos-delay="700"],body[data-aos-delay="700"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="700"].aos-animate,body[data-aos-delay="700"] [data-aos].aos-animate{transition-delay:.7s}[data-aos][data-aos][data-aos-duration="750"],body[data-aos-duration="750"] [data-aos]{transition-duration:.75s}[data-aos][data-aos][data-aos-delay="750"],body[data-aos-delay="750"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="750"].aos-animate,body[data-aos-delay="750"] [data-aos].aos-animate{transition-delay:.75s}[data-aos][data-aos][data-aos-duration="800"],body[data-aos-duration="800"] [data-aos]{transition-duration:.8s}[data-aos][data-aos][data-aos-delay="800"],body[data-aos-delay="800"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="800"].aos-animate,body[data-aos-delay="800"] [data-aos].aos-animate{transition-delay:.8s}[data-aos][data-aos][data-aos-duration="850"],body[data-aos-duration="850"] [data-aos]{transition-duration:.85s}[data-aos][data-aos][data-aos-delay="850"],body[data-aos-delay="850"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="850"].aos-animate,body[data-aos-delay="850"] [data-aos].aos-animate{transition-delay:.85s}[data-aos][data-aos][data-aos-duration="900"],body[data-aos-duration="900"] [data-aos]{transition-duration:.9s}[data-aos][data-aos][data-aos-delay="900"],body[data-aos-delay="900"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="900"].aos-animate,body[data-aos-delay="900"] [data-aos].aos-animate{transition-delay:.9s}[data-aos][data-aos][data-aos-duration="950"],body[data-aos-duration="950"] [data-aos]{transition-duration:.95s}[data-aos][data-aos][data-aos-delay="950"],body[data-aos-delay="950"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="950"].aos-animate,body[data-aos-delay="950"] [data-aos].aos-animate{transition-delay:.95s}[data-aos][data-aos][data-aos-duration="1000"],body[data-aos-duration="1000"] [data-aos]{transition-duration:1s}[data-aos][data-aos][data-aos-delay="1000"],body[data-aos-delay="1000"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1000"].aos-animate,body[data-aos-delay="1000"] [data-aos].aos-animate{transition-delay:1s}[data-aos][data-aos][data-aos-duration="1050"],body[data-aos-duration="1050"] [data-aos]{transition-duration:1.05s}[data-aos][data-aos][data-aos-delay="1050"],body[data-aos-delay="1050"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1050"].aos-animate,body[data-aos-delay="1050"] [data-aos].aos-animate{transition-delay:1.05s}[data-aos][data-aos][data-aos-duration="1100"],body[data-aos-duration="1100"] [data-aos]{transition-duration:1.1s}[data-aos][data-aos][data-aos-delay="1100"],body[data-aos-delay="1100"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1100"].aos-animate,body[data-aos-delay="1100"] [data-aos].aos-animate{transition-delay:1.1s}[data-aos][data-aos][data-aos-duration="1150"],body[data-aos-duration="1150"] [data-aos]{transition-duration:1.15s}[data-aos][data-aos][data-aos-delay="1150"],body[data-aos-delay="1150"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1150"].aos-animate,body[data-aos-delay="1150"] [data-aos].aos-animate{transition-delay:1.15s}[data-aos][data-aos][data-aos-duration="1200"],body[data-aos-duration="1200"] [data-aos]{transition-duration:1.2s}[data-aos][data-aos][data-aos-delay="1200"],body[data-aos-delay="1200"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1200"].aos-animate,body[data-aos-delay="1200"] [data-aos].aos-animate{transition-delay:1.2s}[data-aos][data-aos][data-aos-duration="1250"],body[data-aos-duration="1250"] [data-aos]{transition-duration:1.25s}[data-aos][data-aos][data-aos-delay="1250"],body[data-aos-delay="1250"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1250"].aos-animate,body[data-aos-delay="1250"] [data-aos].aos-animate{transition-delay:1.25s}[data-aos][data-aos][data-aos-duration="1300"],body[data-aos-duration="1300"] [data-aos]{transition-duration:1.3s}[data-aos][data-aos][data-aos-delay="1300"],body[data-aos-delay="1300"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1300"].aos-animate,body[data-aos-delay="1300"] [data-aos].aos-animate{transition-delay:1.3s}[data-aos][data-aos][data-aos-duration="1350"],body[data-aos-duration="1350"] [data-aos]{transition-duration:1.35s}[data-aos][data-aos][data-aos-delay="1350"],body[data-aos-delay="1350"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1350"].aos-animate,body[data-aos-delay="1350"] [data-aos].aos-animate{transition-delay:1.35s}[data-aos][data-aos][data-aos-duration="1400"],body[data-aos-duration="1400"] [data-aos]{transition-duration:1.4s}[data-aos][data-aos][data-aos-delay="1400"],body[data-aos-delay="1400"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1400"].aos-animate,body[data-aos-delay="1400"] [data-aos].aos-animate{transition-delay:1.4s}[data-aos][data-aos][data-aos-duration="1450"],body[data-aos-duration="1450"] [data-aos]{transition-duration:1.45s}[data-aos][data-aos][data-aos-delay="1450"],body[data-aos-delay="1450"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1450"].aos-animate,body[data-aos-delay="1450"] [data-aos].aos-animate{transition-delay:1.45s}[data-aos][data-aos][data-aos-duration="1500"],body[data-aos-duration="1500"] [data-aos]{transition-duration:1.5s}[data-aos][data-aos][data-aos-delay="1500"],body[data-aos-delay="1500"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1500"].aos-animate,body[data-aos-delay="1500"] [data-aos].aos-animate{transition-delay:1.5s}[data-aos][data-aos][data-aos-duration="1550"],body[data-aos-duration="1550"] [data-aos]{transition-duration:1.55s}[data-aos][data-aos][data-aos-delay="1550"],body[data-aos-delay="1550"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1550"].aos-animate,body[data-aos-delay="1550"] [data-aos].aos-animate{transition-delay:1.55s}[data-aos][data-aos][data-aos-duration="1600"],body[data-aos-duration="1600"] [data-aos]{transition-duration:1.6s}[data-aos][data-aos][data-aos-delay="1600"],body[data-aos-delay="1600"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1600"].aos-animate,body[data-aos-delay="1600"] [data-aos].aos-animate{transition-delay:1.6s}[data-aos][data-aos][data-aos-duration="1650"],body[data-aos-duration="1650"] [data-aos]{transition-duration:1.65s}[data-aos][data-aos][data-aos-delay="1650"],body[data-aos-delay="1650"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1650"].aos-animate,body[data-aos-delay="1650"] [data-aos].aos-animate{transition-delay:1.65s}[data-aos][data-aos][data-aos-duration="1700"],body[data-aos-duration="1700"] [data-aos]{transition-duration:1.7s}[data-aos][data-aos][data-aos-delay="1700"],body[data-aos-delay="1700"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1700"].aos-animate,body[data-aos-delay="1700"] [data-aos].aos-animate{transition-delay:1.7s}[data-aos][data-aos][data-aos-duration="1750"],body[data-aos-duration="1750"] [data-aos]{transition-duration:1.75s}[data-aos][data-aos][data-aos-delay="1750"],body[data-aos-delay="1750"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1750"].aos-animate,body[data-aos-delay="1750"] [data-aos].aos-animate{transition-delay:1.75s}[data-aos][data-aos][data-aos-duration="1800"],body[data-aos-duration="1800"] [data-aos]{transition-duration:1.8s}[data-aos][data-aos][data-aos-delay="1800"],body[data-aos-delay="1800"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1800"].aos-animate,body[data-aos-delay="1800"] [data-aos].aos-animate{transition-delay:1.8s}[data-aos][data-aos][data-aos-duration="1850"],body[data-aos-duration="1850"] [data-aos]{transition-duration:1.85s}[data-aos][data-aos][data-aos-delay="1850"],body[data-aos-delay="1850"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1850"].aos-animate,body[data-aos-delay="1850"] [data-aos].aos-animate{transition-delay:1.85s}[data-aos][data-aos][data-aos-duration="1900"],body[data-aos-duration="1900"] [data-aos]{transition-duration:1.9s}[data-aos][data-aos][data-aos-delay="1900"],body[data-aos-delay="1900"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1900"].aos-animate,body[data-aos-delay="1900"] [data-aos].aos-animate{transition-delay:1.9s}[data-aos][data-aos][data-aos-duration="1950"],body[data-aos-duration="1950"] [data-aos]{transition-duration:1.95s}[data-aos][data-aos][data-aos-delay="1950"],body[data-aos-delay="1950"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="1950"].aos-animate,body[data-aos-delay="1950"] [data-aos].aos-animate{transition-delay:1.95s}[data-aos][data-aos][data-aos-duration="2000"],body[data-aos-duration="2000"] [data-aos]{transition-duration:2s}[data-aos][data-aos][data-aos-delay="2000"],body[data-aos-delay="2000"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2000"].aos-animate,body[data-aos-delay="2000"] [data-aos].aos-animate{transition-delay:2s}[data-aos][data-aos][data-aos-duration="2050"],body[data-aos-duration="2050"] [data-aos]{transition-duration:2.05s}[data-aos][data-aos][data-aos-delay="2050"],body[data-aos-delay="2050"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2050"].aos-animate,body[data-aos-delay="2050"] [data-aos].aos-animate{transition-delay:2.05s}[data-aos][data-aos][data-aos-duration="2100"],body[data-aos-duration="2100"] [data-aos]{transition-duration:2.1s}[data-aos][data-aos][data-aos-delay="2100"],body[data-aos-delay="2100"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2100"].aos-animate,body[data-aos-delay="2100"] [data-aos].aos-animate{transition-delay:2.1s}[data-aos][data-aos][data-aos-duration="2150"],body[data-aos-duration="2150"] [data-aos]{transition-duration:2.15s}[data-aos][data-aos][data-aos-delay="2150"],body[data-aos-delay="2150"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2150"].aos-animate,body[data-aos-delay="2150"] [data-aos].aos-animate{transition-delay:2.15s}[data-aos][data-aos][data-aos-duration="2200"],body[data-aos-duration="2200"] [data-aos]{transition-duration:2.2s}[data-aos][data-aos][data-aos-delay="2200"],body[data-aos-delay="2200"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2200"].aos-animate,body[data-aos-delay="2200"] [data-aos].aos-animate{transition-delay:2.2s}[data-aos][data-aos][data-aos-duration="2250"],body[data-aos-duration="2250"] [data-aos]{transition-duration:2.25s}[data-aos][data-aos][data-aos-delay="2250"],body[data-aos-delay="2250"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2250"].aos-animate,body[data-aos-delay="2250"] [data-aos].aos-animate{transition-delay:2.25s}[data-aos][data-aos][data-aos-duration="2300"],body[data-aos-duration="2300"] [data-aos]{transition-duration:2.3s}[data-aos][data-aos][data-aos-delay="2300"],body[data-aos-delay="2300"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2300"].aos-animate,body[data-aos-delay="2300"] [data-aos].aos-animate{transition-delay:2.3s}[data-aos][data-aos][data-aos-duration="2350"],body[data-aos-duration="2350"] [data-aos]{transition-duration:2.35s}[data-aos][data-aos][data-aos-delay="2350"],body[data-aos-delay="2350"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2350"].aos-animate,body[data-aos-delay="2350"] [data-aos].aos-animate{transition-delay:2.35s}[data-aos][data-aos][data-aos-duration="2400"],body[data-aos-duration="2400"] [data-aos]{transition-duration:2.4s}[data-aos][data-aos][data-aos-delay="2400"],body[data-aos-delay="2400"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2400"].aos-animate,body[data-aos-delay="2400"] [data-aos].aos-animate{transition-delay:2.4s}[data-aos][data-aos][data-aos-duration="2450"],body[data-aos-duration="2450"] [data-aos]{transition-duration:2.45s}[data-aos][data-aos][data-aos-delay="2450"],body[data-aos-delay="2450"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2450"].aos-animate,body[data-aos-delay="2450"] [data-aos].aos-animate{transition-delay:2.45s}[data-aos][data-aos][data-aos-duration="2500"],body[data-aos-duration="2500"] [data-aos]{transition-duration:2.5s}[data-aos][data-aos][data-aos-delay="2500"],body[data-aos-delay="2500"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2500"].aos-animate,body[data-aos-delay="2500"] [data-aos].aos-animate{transition-delay:2.5s}[data-aos][data-aos][data-aos-duration="2550"],body[data-aos-duration="2550"] [data-aos]{transition-duration:2.55s}[data-aos][data-aos][data-aos-delay="2550"],body[data-aos-delay="2550"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2550"].aos-animate,body[data-aos-delay="2550"] [data-aos].aos-animate{transition-delay:2.55s}[data-aos][data-aos][data-aos-duration="2600"],body[data-aos-duration="2600"] [data-aos]{transition-duration:2.6s}[data-aos][data-aos][data-aos-delay="2600"],body[data-aos-delay="2600"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2600"].aos-animate,body[data-aos-delay="2600"] [data-aos].aos-animate{transition-delay:2.6s}[data-aos][data-aos][data-aos-duration="2650"],body[data-aos-duration="2650"] [data-aos]{transition-duration:2.65s}[data-aos][data-aos][data-aos-delay="2650"],body[data-aos-delay="2650"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2650"].aos-animate,body[data-aos-delay="2650"] [data-aos].aos-animate{transition-delay:2.65s}[data-aos][data-aos][data-aos-duration="2700"],body[data-aos-duration="2700"] [data-aos]{transition-duration:2.7s}[data-aos][data-aos][data-aos-delay="2700"],body[data-aos-delay="2700"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2700"].aos-animate,body[data-aos-delay="2700"] [data-aos].aos-animate{transition-delay:2.7s}[data-aos][data-aos][data-aos-duration="2750"],body[data-aos-duration="2750"] [data-aos]{transition-duration:2.75s}[data-aos][data-aos][data-aos-delay="2750"],body[data-aos-delay="2750"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2750"].aos-animate,body[data-aos-delay="2750"] [data-aos].aos-animate{transition-delay:2.75s}[data-aos][data-aos][data-aos-duration="2800"],body[data-aos-duration="2800"] [data-aos]{transition-duration:2.8s}[data-aos][data-aos][data-aos-delay="2800"],body[data-aos-delay="2800"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2800"].aos-animate,body[data-aos-delay="2800"] [data-aos].aos-animate{transition-delay:2.8s}[data-aos][data-aos][data-aos-duration="2850"],body[data-aos-duration="2850"] [data-aos]{transition-duration:2.85s}[data-aos][data-aos][data-aos-delay="2850"],body[data-aos-delay="2850"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2850"].aos-animate,body[data-aos-delay="2850"] [data-aos].aos-animate{transition-delay:2.85s}[data-aos][data-aos][data-aos-duration="2900"],body[data-aos-duration="2900"] [data-aos]{transition-duration:2.9s}[data-aos][data-aos][data-aos-delay="2900"],body[data-aos-delay="2900"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2900"].aos-animate,body[data-aos-delay="2900"] [data-aos].aos-animate{transition-delay:2.9s}[data-aos][data-aos][data-aos-duration="2950"],body[data-aos-duration="2950"] [data-aos]{transition-duration:2.95s}[data-aos][data-aos][data-aos-delay="2950"],body[data-aos-delay="2950"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="2950"].aos-animate,body[data-aos-delay="2950"] [data-aos].aos-animate{transition-delay:2.95s}[data-aos][data-aos][data-aos-duration="3000"],body[data-aos-duration="3000"] [data-aos]{transition-duration:3s}[data-aos][data-aos][data-aos-delay="3000"],body[data-aos-delay="3000"] [data-aos]{transition-delay:0}[data-aos][data-aos][data-aos-delay="3000"].aos-animate,body[data-aos-delay="3000"] [data-aos].aos-animate{transition-delay:3s}[data-aos][data-aos][data-aos-easing=linear],body[data-aos-easing=linear] [data-aos]{transition-timing-function:cubic-bezier(.25,.25,.75,.75)}[data-aos][data-aos][data-aos-easing=ease],body[data-aos-easing=ease] [data-aos]{transition-timing-function:ease}[data-aos][data-aos][data-aos-easing=ease-in],body[data-aos-easing=ease-in] [data-aos]{transition-timing-function:ease-in}[data-aos][data-aos][data-aos-easing=ease-out],body[data-aos-easing=ease-out] [data-aos]{transition-timing-function:ease-out}[data-aos][data-aos][data-aos-easing=ease-in-out],body[data-aos-easing=ease-in-out] [data-aos]{transition-timing-function:ease-in-out}[data-aos][data-aos][data-aos-easing=ease-in-back],body[data-aos-easing=ease-in-back] [data-aos]{transition-timing-function:cubic-bezier(.6,-.28,.735,.045)}[data-aos][data-aos][data-aos-easing=ease-out-back],body[data-aos-easing=ease-out-back] [data-aos]{transition-timing-function:cubic-bezier(.175,.885,.32,1.275)}[data-aos][data-aos][data-aos-easing=ease-in-out-back],body[data-aos-easing=ease-in-out-back] [data-aos]{transition-timing-function:cubic-bezier(.68,-.55,.265,1.55)}[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos]{transition-timing-function:cubic-bezier(.47,0,.745,.715)}[data-aos][data-aos][data-aos-easing=ease-out-sine],body[data-aos-easing=ease-out-sine] [data-aos]{transition-timing-function:cubic-bezier(.39,.575,.565,1)}[data-aos][data-aos][data-aos-easing=ease-in-out-sine],body[data-aos-easing=ease-in-out-sine] [data-aos]{transition-timing-function:cubic-bezier(.445,.05,.55,.95)}[data-aos][data-aos][data-aos-easing=ease-in-quad],body[data-aos-easing=ease-in-quad] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-quad],body[data-aos-easing=ease-out-quad] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quad],body[data-aos-easing=ease-in-out-quad] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos][data-aos][data-aos-easing=ease-in-cubic],body[data-aos-easing=ease-in-cubic] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-cubic],body[data-aos-easing=ease-out-cubic] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],body[data-aos-easing=ease-in-out-cubic] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos][data-aos][data-aos-easing=ease-in-quart],body[data-aos-easing=ease-in-quart] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-quart],body[data-aos-easing=ease-out-quart] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quart],body[data-aos-easing=ease-in-out-quart] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos^=fade][data-aos^=fade]{opacity:0;transition-property:opacity,transform}[data-aos^=fade][data-aos^=fade].aos-animate{opacity:1;transform:translateZ(0)}[data-aos=fade-up]{transform:translate3d(0,100px,0)}[data-aos=fade-down]{transform:translate3d(0,-100px,0)}[data-aos=fade-right]{transform:translate3d(-100px,0,0)}[data-aos=fade-left]{transform:translate3d(100px,0,0)}[data-aos=fade-up-right]{transform:translate3d(-100px,100px,0)}[data-aos=fade-up-left]{transform:translate3d(100px,100px,0)}[data-aos=fade-down-right]{transform:translate3d(-100px,-100px,0)}[data-aos=fade-down-left]{transform:translate3d(100px,-100px,0)}[data-aos^=zoom][data-aos^=zoom]{opacity:0;transition-property:opacity,transform}[data-aos^=zoom][data-aos^=zoom].aos-animate{opacity:1;transform:translateZ(0) scale(1)}[data-aos=zoom-in]{transform:scale(.6)}[data-aos=zoom-in-up]{transform:translate3d(0,100px,0) scale(.6)}[data-aos=zoom-in-down]{transform:translate3d(0,-100px,0) scale(.6)}[data-aos=zoom-in-right]{transform:translate3d(-100px,0,0) scale(.6)}[data-aos=zoom-in-left]{transform:translate3d(100px,0,0) scale(.6)}[data-aos=zoom-out]{transform:scale(1.2)}[data-aos=zoom-out-up]{transform:translate3d(0,100px,0) scale(1.2)}[data-aos=zoom-out-down]{transform:translate3d(0,-100px,0) scale(1.2)}[data-aos=zoom-out-right]{transform:translate3d(-100px,0,0) scale(1.2)}[data-aos=zoom-out-left]{transform:translate3d(100px,0,0) scale(1.2)}[data-aos^=slide][data-aos^=slide]{transition-property:transform}[data-aos^=slide][data-aos^=slide].aos-animate{transform:translateZ(0)}[data-aos=slide-up]{transform:translate3d(0,100%,0)}[data-aos=slide-down]{transform:translate3d(0,-100%,0)}[data-aos=slide-right]{transform:translate3d(-100%,0,0)}[data-aos=slide-left]{transform:translate3d(100%,0,0)}[data-aos^=flip][data-aos^=flip]{backface-visibility:hidden;transition-property:transform}[data-aos=flip-left]{transform:perspective(2500px) rotateY(-100deg)}[data-aos=flip-left].aos-animate{transform:perspective(2500px) rotateY(0)}[data-aos=flip-right]{transform:perspective(2500px) rotateY(100deg)}[data-aos=flip-right].aos-animate{transform:perspective(2500px) rotateY(0)}[data-aos=flip-up]{transform:perspective(2500px) rotateX(-100deg)}[data-aos=flip-up].aos-animate{transform:perspective(2500px) rotateX(0)}[data-aos=flip-down]{transform:perspective(2500px) rotateX(100deg)}[data-aos=flip-down].aos-animate{transform:perspective(2500px) rotateX(0)}