/*--|All|--*/
@font-face{
font-family:'roboto';
src:url('font/Roboto-Regular.ttf')format('truetype');
}
*{
/*font*/
font-family:'roboto';
font-size:1.25vw;
color:#F0F0F0;
/*display*/
margin:0;
padding:0;
}
/*--|All|--*/

/*--|Header|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
height:5vw;
top:0;
left:0;
right:0;
justify-content:space-between;
align-items:center;
z-index:100;
}
#lg{
/*display*/
display:flex;
width:4.5vw;
height:4.5vw;
margin:0 2vw;
justify-content:center;
align-items:center;
background:rgba(240,240,240,0.5);
/*border*/
border-radius:5vw;
box-shadow:0.1vw 0.1vw 1vw #474998;
}
.lg{
/*display*/
position:relative;
display:flex;
width:3.5vw;
left:0.1vw;
/*cursor*/
cursor:pointer;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:30%;
height:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nv{
/*font*/
font-size:1vw;
font-weight:900;
text-decoration:none;
text-shadow:0.1vw 0.1vw 0.1vw #474998;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nv:hover{
/*font*/
color:#D0E2F4;
}
.im{
/*display*/
width:2vw;
}
#divhd{
display:none;
}
#mnm{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
.nvls{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
@media screen and (max-width: 768px){
#hd{
/*display*/
height:15vw;
}
.lg{
/*display*/
width:10vw;
}
#ls{
/*display*/
display:none;
}
#divhd{
display:flex;
}
#mnm{
/*font*/
color:#F0F0F0;
/*display*/
display:flex;
width:12vw;
}
#lsm{
/*font*/
list-style-type:none;
/*display*/
position:absolute;
display:none;
width:60%;
height:80vw;
top:-6vw;
right:-3vw;
padding:2vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#474998;
/*border*/
border-radius:5vw;
}
.divclose{
/*display*/
display:flex;
width:90%;
justify-content:flex-end;
align-items:flex-start;
}
#lsm li{
/*display*/
display:flex;
width:70%;
justify-content:flex-start;
align-items:center;
}
.nvls{
/*font*/
font-size:6vw;
text-align:left;
text-decoration:none;
color:#F0F0F0;
/*display*/
display:flex;
width:100%;
padding:0;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}
}
/*--|Header|--*/

/*--|Footer|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:5vw;
padding:0.5vw 0;
bottom:revert;
flex-direction:column;
justify-content:center;
align-items:center;
background:#474998;
}
.dvft{
/*display*/
display:flex;
width:30%;
margin:1vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lk1{
/*font*/
text-decoration:none;
}
.tx8:hover{
/*font*/
color:#D0E2F4;
/*cursor*/
cursor:pointer;
}
@media screen and (max-width: 768px){
#ft{
/*display*/
height:58vw;
}
.txftm{
/*font*/
font-size:6vw;
text-align:center;
}
.dvft{
/*display*/
display:flex;
width:100%;
margin:1vw;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lk1{
/*display*/
display:flex;
width:40%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.tx8{
/*font*/
font-size:6vw;
text-align:center;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.imft{
/*display*/
width:10vw;
}
}
/*--|Footer|--*/

/*--|Main|--*/
#sec1{
/*display*/
position:relative;
display:flex;
width:100%;
height:50vw;
margin:0;
padding:0;
flex-direction:row;
justify-content:center;
align-items:center;
background:#D0E2F4;
}
.slider{
/*display*/
width:100%;
height:50vw;
overflow:hidden;
}
.slides{
/*display*/
display:flex;
width:100%;
height:45vw;
}
.slides input{
/*display*/
display:none;
width:100%;
height:45vw;
}
.slide{
/*display*/
position:relative;
width:100%;
transition:0.5s;
}
.slide2{
/*display*/
position:relative;
width:100%;
transition:2s;
}
.slide3{
/*display*/
position:relative;
width:100%;
transition:2s;
}
.slide img{
/*display*/
width:100vw;
height:50vw
}
.slide2 img{
/*display*/
width:100vw;
}
.slide3 img{
/*display*/
width:100vw;
}
.manual-navigation{
/*display*/
display:flex;
position:absolute;
width:100%;
bottom:5vw;
justify-content:center;
}
.manual-btn{
/*display*/
padding:0.5vw;
transition:1s;
/*border*/
border:0.2vw solid #474998;
border-radius:2vw;
/*cursor*/
cursor:pointer;
}
.manual-btn:not(:last-child){
/*display*/
margin-right:4vw;
}
.manual-btn:hover{
/*display*/
background:#F0F0F0;
}
#radio1:checked ~ .first{
margin-left:0;
}
#radio2:checked ~ .first{
margin-left:-98.75vw;
}
#radio3:checked ~ .first{
margin-left:-198.75vw;
}
.navigation-auto div{
/*display*/
padding:0.5vw;
transition:1s;
/*border*/
border:0.2vw solid #474998;
border-radius:2vw;
/*cursor*/
cursor:pointer;
}
.navigation-auto{
/*display*/
display:flex;
position:absolute;
width:100%;
bottom:5vw;
justify-content:center;
}
.navigation-auto div:not(:last-child){
/*display*/
margin-right:4vw;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
/*display*/
background:#474998;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
/*display*/
background:#474998;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
/*display*/
background:#474998;
}
.tt{
/*font*/
font-size:4vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw #D0E2F4;
color:#952A4A;
/*display*/
display:flex;
position:absolute;
width:100%;
top:8vw;
right:15vw;
justify-content:flex-end;
align-items:center;
z-index:1;
}
.tt0{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw rgba(71,73,152,1);
color:#F0F0F0;
/*display*/
display:flex;
position:absolute;
width:100%;
top:13vw;
right:20.75vw;
justify-content:flex-end;
align-items:center;
z-index:1;
}
.tt01{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw rgba(71,73,152,1);
color:#F0F0F0;
/*display*/
display:flex;
position:absolute;
width:100%;
top:17vw;
right:13vw;
justify-content:flex-end;
align-items:center;
z-index:1;
}
.dvbt{
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.bt{
/*font*/
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
position:absolute;
width:12vw;
height:3vw;
top:22vw;
right:32vw;
justify-content:center;
align-items:center;
background:#952A4A;
z-index:1;
/*border*/
border-radius:50vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.bt:hover{
/*font*/
color:#952A4A;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #952A4A;
}
.tt02{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw #F0F0F0;
color:#38352e;
/*display*/
display:flex;
position:absolute;
width:100%;
top:8vw;
justify-content:center;
align-items:center;
z-index:1;
}
.tt03{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw #38352e;
color:#F0F0F0;
/*display*/
display:flex;
position:absolute;
width:100%;
top:12vw;
justify-content:center;
align-items:center;
z-index:1;
}
.tt04{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw #38352e;
color:#F0F0F0;
/*display*/
display:flex;
position:absolute;
width:100%;
top:16vw;
justify-content:center;
align-items:center;
z-index:1;
}
.bt0{
/*font*/
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
position:absolute;
width:12vw;
height:3vw;
top:22vw;
justify-content:center;
align-items:center;
background:#38352e;
z-index:1;
/*border*/
border-radius:50vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.bt0:hover{
/*font*/
color:#38352e;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #38352e;
}
.tt05{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw #F0F0F0;
color:#0c8ccf;
/*display*/
display:flex;
position:absolute;
width:100%;
top:8vw;
left:25vw;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.tt06{
/*font*/
font-size:3vw;
font-weight:700;
text-align:justify;
text-shadow:0.1vw 0.1vw 0.3vw #0c8ccf;
color:#F0F0F0;
/*display*/
display:flex;
position:absolute;
width:100%;
top:12vw;
left:27vw;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.bt1{
/*font*/
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
position:absolute;
width:12vw;
height:3vw;
top:18vw;
left:33vw;
justify-content:center;
align-items:center;
background:#0c8ccf;
z-index:1;
/*border*/
border-radius:50vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.bt1:hover{
/*font*/
color:#0c8ccf;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #0c8ccf;
}
#sec2{
/*display*/
display:flex;
width:100%;
height:50vw;
justify-content:space-around;
align-items:center;
background:#474998;
}
.dv1{
/*display*/
display:flex;
width:40%;
height:70%;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:flex-start;
}
.tt1{
/*font*/
font-size:2vw;
font-weight:700;
/*display*/
display:flex;
width:100%;
justify-content:flex-start;
align-items:center;
}
.tx{
/*font*/
text-align:justify;
hyphens:auto;
/*display*/
display:flex;
width:100%;
margin:1vw 0;
justify-content:flex-start;
align-items:center;
}
.dv2{
/*display*/
display:flex;
width:50%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.im1{
/*display*/
width:90%;
/*border*/
border-radius:2VW;
}
#sec3{
/*display*/
position:relative;
display:flex;
width:100%;
height:45vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#D0E2F4;
}
#sec3::before{
content:'';
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(0,0,0,0.2)
}
.tt2{
/*font*/
font-size:2vw;
font-weight:700;
text-align:center;
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.dv3{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.dv4{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im2{
/*display*/
display:flex;
width:25vw;
height:auto;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
.tt4{
/*font*/
font-size:1.75vw;
font-weight:700;
text-align:center;
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.tx2{
/*font*/
font-weight:700;
text-align:center;
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.bt2{
/*font*/
font-weight:900;
text-decoration:none;
/*display*/
display:flex;
width:12vw;
height:3vw;
justify-content:center;
align-items:center;
background:#474998;
z-index:1;
/*border*/
border-radius:50vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.bt2:hover{
/*font*/
color:#474998;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #474998;
}
#sec4{
/*display*/
display:flex;
width:100%;
height:45vw;
justify-content:space-around;
align-items:center;
background:#474998;
}
.dv5{
/*display*/
display:flex;
width:40%;
height:70%;
flex-direction:column;
justify-content:space-around;
align-items:center;
}
.dv6{
/*display*/
display:flex;
width:80%;
height:100%;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}
.tt5{
/*font*/
font-size:2vw;
font-weight:700;
text-align:left;
/*display*/
display:flex;
width:100%;
padding:0 0 5vw 0;
justify-content:left;
align-items:center;
z-index:1;
}
.tx3{
/*font*/
hyphens:auto;
/*display*/
width:100%;
}
.dv7{
/*display*/
display:flex;
width:80%;
height:100%;
flex-direction:column;
justify-content:flex-end;
align-items:flex-start;
}
.tt6{
/*font*/
font-size:2vw;
font-weight:700;
text-align:center;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.dv8{
/*display*/
display:flex;
width:60%;
justify-content:space-evenly;
align-items:flex-start;
}
.im3{
/*display*/
width:1.5vw;
margin:3vw 0 0 0;
padding:1vw;
background:#F0F0F0;
/*border*/
border-radius:5vw;
}
.im3:hover{
/*display*/
background:#D0E2F4;
/*cursor*/
cursor:pointer;
}
.dv9{
/*display*/
display:flex;
width:50%;
justify-content:center;
align-items:center;
}
.im5{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
#sec5{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#D0E2F4;
}
.tt7{
/*font*/
font-size:4vw;
font-weight:700;
text-shadow:0.1vw 0.1vw 1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
margin:10vw 0 0 0;
justify-content:center;
align-items:center;
}
.im6{
/*display*/
display:flex;
width:5vw;
margin:0 2vw;
justify-content:center;
align-items:center;
}
.dv10{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.im7{
/*display*/
display:flex;
width:40vw;
margin:5vw;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
}
.tx4{
/*font*/
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw #F0F0F0;
color:#474998;
/*display*/
display:flex;
width:40vw;
margin:5vw;
justify-content:center;
align-items:center;
}
#sec6{
/*display*/
display:flex;
width:100%;
height:120vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#474998;
}
.tt8{
/*font*/
font-size:4vw;
font-weight:700;
text-shadow:0.2vw 0.2vw 0.1vw #474998;
color:#F0F0F0;
/*display*/
display:flex;
width:95%;
justify-content:center;
align-items:center;
z-index:1;
}
.dv11{
/*display*/
display:flex;
height:80%;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
z-index:1;
}
.dv12{
/*display*/
display:flex;
width:90%;
flex-direction:row;
justify-content:center;
align-items:center;
}
.dv13{
/*display*/
display:flex;
width:45%;
height:35vw;
margin:0 5vw;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
}
.im8{
/*display*/
display:flex;
width:35vw;
justify-content:center;
align-items:center;
/*border*/
border-radius:2vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.tt9{
/*font*/
font-size:2vw;
font-weight:700;
text-align:center;
text-shadow:0.2vw 0.2vw 0.1vw #474998;
color:#F0F0F0;
/*display*/
display:flex;
width:35vw;
justify-content:center;
align-items:center;
}
.tx9{
/*font*/
text-align:justify;
text-shadow:0.1vw 0.1vw 0.1vw #474998;
color:#F0F0F0;
/*display*/
display:flex;
width:35vw;
justify-content:center;
align-items:center;
}
.lk2{
/*font*/
font-size:1.5vw;
font-weight:700;
text-decoration:none;
color:#F0F0F0;
/*display*/
display:flex;
width:20vw;
padding:1vw;
justify-content:center;
align-items:center;
background:#474998;
/*border*/
border-radius:2vw;
box-shadow:0.1vw 0.1vw 1vw #F0F0F0;
}
.lk2:hover{
/*font*/
color:#474998;
/*display*/
background:#F0F0F0;
/*border*/
box-shadow:0.1vw 0.1vw 1vw #474998;
/*cursor*/
cursor:pointer;
}
@media screen and (max-width: 768px){
.dv8{
/*display*/
display:flex;
width:100%;
margin:10vw 0 0 0;
justify-content:space-evenly;
align-items:center;
}
}

/*Termos de Uso*/
#sectm{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#D0E2F4;
}
.tttm{
/*font*/
font-size:4vw;
font-weight:700;
text-align:center;
color:#474998;
/*display*/
width:100%;
margin:5vw 0;
}
.imtm{
/*display*/
width:5vw;
}
.dvtm{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.txtm{
/*font*/
font-weight:700;
text-align:justify;
color:#474998;
/*display*/
width:90%;
}
/*Termos de Uso*/

/*Termos de Uso*/
#secpl{
/*display*/
display:flex;
width:100%;
height:60vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#D0E2F4;
}
.ttpl{
/*font*/
font-size:4vw;
font-weight:700;
text-align:center;
color:#474998;
/*display*/
width:100%;
margin:5vw 0;
}
.impl{
/*display*/
width:5vw;
}
.dvpl{
/*display*/
display:flex;
width:100%;
justify-content:center;
align-items:center;
}
.txpl{
/*font*/
font-weight:700;
text-align:justify;
color:#474998;
/*display*/
width:90%;
}
/*Termos de Uso*/